<div class="modal fade" id='annotation-modal'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Write an Annotation:</h4>
      </div>

      <div class="modal-body">
        <form class='annotation-form'>
          <textarea class='annotation-text' name='content'></textarea>
          <!-- <div class='annotation-instructions'>To add an image, just paste your url</div> -->

          <div class='annotation-style'>
            Markdown Style Guidelines:
            <ul>
              <li># Makes a big header</li>
              <li>## Makes a smaller header</li>
              <li>** makes text bold **</li>
              <li> Use _for italics_</li>
              <li>+ is an item in a list</li>
              <li>Use [text](url) format for links</li>
            </ul>
          </div>
        </form>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary annotation-save" data-dismiss='modal'>Save Annotation</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->