<div class='annotation-outer'>
  <div class='annotation-inner'>
    Write an annotation:
    <br>
    <textarea class='annotation-text'></textarea>
    <div class='annotation-instructions'>To add an image, just paste your url</div>
    <button class='annotation-save'>Save</button>

    <div class='annotation-style'>
      Style Guidelines:
      <ul>
        <li>Embed a video / Tweet / whatever by pasting the URL</li>
        <li>Add a link like this:
          [Check out my fave website](http://rapgenius.com)
        </li>
        <li> Simple formatting:
          *This text is in italics*
          **This text is bold**
        </li>
      </ul>
    </div>
  </div>
</div>