<h2 class='recipe-name'><%= recipe.get('name') %><h2>
<div class='time-info'>
  <div>Prep Time: <%= recipe.get('prep_time') %></div>
  <div>Cook Time: <%= recipe.get('prep_time') %></div>
</div>
<div class='notes'>
  Notes: <%= recipe.get('notes') %>
</div>
