<h1><%= description %> Recipes</h1>

<ul>
<% recipes.each( function(recipe) { %>
  <li><a href='#/recipes/<%= recipe.id %>'>
    <%= recipe.escape('name') %>
  </a></li>
<% }) %>
</ul>

<a href='#/recipes/new'>Add a new Recipe</a>
