
<div class='overall-container'>

    <form class='recipe-form'>
      <div class='row recipe-section'>
        <div class='recipe-name'>
          <h1 class='text-center'><input type='text' name='recipes[name]'></h1>
        </div>
      </div>

      <div class='row recipe-section'>
        <div class='category-selector'>
          <label for='category-select'>Select Category:</label>
          <select id='category-select' name='recipes[category]'>
            <option value='Main Course'>Main Course</option>
            <option value='Appetizer'>Appetizer</option>
            <option value='Dessert'>Dessert</option>
          </select>
        </div>
        
        <div id='info-section' class='info-new'></div>

        <div id='picture-container'>
          <div class='picture-standin'>Upload picture here...</div>
          <input type="file" multiple class='recipe-photo-input'>
        </div>
        <div id='note-section' class='note-new'>About:</div>

      </div>

      <div class='row recipe-section'>
        <div class='items-section'>
          <div class='elements-header'>Ingredients List</div>
          <ul id='ingredients-list'></ul>
        </div>
      </div>

      <div class='row recipe-section'>
        <div class='items-section'>
          <div class='elements-header'>Steps</div>
          <ol id='steps-list'></ol>
        </div>
      </div>

    </form>

  <div class='buttons'>
    <button id='submit-recipe' class='recipe-button'>Submit Recipe</button>
    <a href='#/'><button class='recipe-button bottom-button'>Back</button></a>

  </div>

</div>

