<div class='recipe-container'>
  <form>
    <div class='elements-container'>
      <div class='elements-header'>Recipe Info</div>
      <div id='info-list'></div>
    </div>

    <div class='elements-container'>
      <div class='elements-header'>Ingredients List</div>
      <ul id='needs-list'></ul>
    </div>

    <div class='elements-container'>
      <div class='elements-header'>Steps</div>
      <ol id='steps-list'></ol>
    </div>

    <button id='submit-recipe'>Add this recipe</button>
  </form>
</div>
