
<div class='recipe-container'>

  <div class='info-container elements-container'>
    <h2 class='recipe-name'><%= recipe.escape("name") %><h2>
  </div>

  <div class='elements-container'>
    <div class='elements-header'>Ingredients List</div>
    <ul id='needs-list'></ul>
  </div>

  <div class='elements-container'>
    <div class='elements-header'>Steps</div>
    <ol id='steps-list'></ol>
  </div>

  <button id='edit-recipe'>Edit this Recipe</button>
</div>


<br>
<a href='#/'>Back</a>

