
<div class='recipe-container'>

  <div class='elements-container'>
    <div id='info-section'></div>
    <div id='note-section'></div>
  </div>

  <div class='elements-container'>
    <div class='elements-header'>Ingredients List</div>
    <ul id='ingredients-list'></ul>
  </div>

  <div class='elements-container'>
    <div class='elements-header'>Steps</div>
    <ol id='steps-list'></ol>
  </div>

  <button id='edit-recipe'>Edit this Recipe</button>
  <br>
  <button id='delete-recipe'>Delete Recipe</button>
</div>


<br>
<a href='#/'>Back</a>

