<!-- <div class='links'></div> -->

<div class='recipe-container col-xs-offset-1 col-xs-8'>

  <div class='row recipe-section'>
    <div class='recipe-name'>
      <h1 class='text-center'><span class='cookie-font'><%= recipe.escape('name') %></span></h1>
    </div>
  </div>

  <div class='row recipe-section'>
    <div class='col-xs-5'>
      <div id='info-section'></div>
      <div class='img-rounded'></div>
    </div>
    <div class='col-xs-7'>
      <div id='note-section' class='note-show'>About:</div>
    </div>
  </div>

  <div class='row recipe-section'>
    <div class='list-section col-xs-10'>
      <div class='elements-header'><span class='small-cookie-font'>Ingredients List</span></div>
      <ul id='ingredients-list' class='annotatable recipe-list'></ul>
    </div>
  </div>

  <div class='row recipe-section'>
    <div class='list-section'>
      <div class='elements-header'><span class='small-cookie-font'>Preparation</span></div>
      <ol id='steps-list' class='annotatable recipe-list'></ol>
    </div>
  </div>
</div>

<div class='buttons'>
  <% if (ChefGenius.currentUser.id === recipe.get('authorId') ) { %>
    <button id='edit-recipe' class='recipe-button'>
      Edit this Recipe
    </button>
    <button id='delete-recipe' class='recipe-button'>
      Delete Recipe
    </button>
  <% }; %>

  <a href='#/' class='recipe-button bottom-button'>Back</button></a>
</div>

<div id='annotation-section'></div>

<div id='annotation-show-section'></div>

