<div class='links'></div>

<div class='overall-container'>

  <div class='row recipe-section'>
    <div class='recipe-name'>
      <h1 class='text-center'><%= recipe.escape('name') %></h1>
    </div>
  </div>

  <div class='row recipe-section'>
      <div id='info-section'></div>
      <div class='img-rounded'></div>
      <div id='note-section' class='note-show'>About:</div>
  </div>

  <div class='row recipe-section'>
    <div class='items-section ingredients-section'>
      <div class='elements-header'>Ingredients List</div>
      <ul id='ingredients-list' class='annotatable'></ul>
    </div>
  </div>

  <div class='row recipe-section'>
    <div class='items-section'>
      <div class='elements-header'>Steps</div>
      <ol id='steps-list' class='annotatable'></ol>
    </div>
  </div>
</div>

<div class='buttons'>
  <% if (ChefGenius.currentUser.id === recipe.get('authorId') ) { %>
    <button id='edit-recipe' class='recipe-button'>
      Edit this Recipe
    </button>
    <button id='delete-recipe' class='recipe-button'>
      Delete Recipe
    </button>
  <% }; %>

  <a href='#/' class='recipe-button bottom-button'>Back</button></a>
</div>

<div id='annotation-section'></div>

<div id='annotation-show-section'></div>

