// Place all the styles related to the annotations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.annotation-text {
  width: 90%;
  border-radius: 0px;
  border: 1px solid black;
  margin: 0 auto 0 20px;
  width: 90%;
  max-width: 90%;
  height: 150px;
  max-height: 150px;
  border-radius: 5px;
}

//.annotation-instructions {
//  margin: 0 auto 30px 20px;
//  width: 90%;
//  max-width: 90%;
//  height: 30px;
//  max-height: 30px;
//  border: 1px solid black;
//  border-top: 1px dashed black;
//  padding: 5px;
//}

.annotation-style {
  margin-top: 30px;
  width: 90%;
  margin: 0 auto 30px 30px;
  ul {
    margin-top: 10px;
    margin-bottom: 20px;
    li {
      margin-top: 5px;
    }
  }
}

body .modal {
  margin-top: 100px;
  z-index: 12000;
}



.modal-header{
  padding-bottom: 0;
}


#new-suggestions-containter {
  margin-top: 10px;
}

#new-suggestions-containter {
  margin-top: 10px;
}

.content-container {
  border: 1px solid black;
  border-radius: 3px;
  min-height: 150px;
  padding: 2px;
  margin-bottom: 20px;
}

.new-comment-form {
  position: relative;
  input[type=submit] {
    position: absolute;
    right: 10px;
    width: 75px;
    height: 75px;
  }
  .new-comment-input {
    height: 75px;
    max-height: 75px;
    width: 80%;
    max-width: 80%;
  }
}

.comment-show {
  width: 90%;
  background: lightgrey;
  position: relative;
  height: 25px;
  padding: 3px;
  margin: 10px
}

.comment-info {
  text-align: right;
  font-size: 80%;
}

.comment-container {
  margin: 10px;
  height: 40px;
}