// Place all the styles related to the annotations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.annotation-text {
  width: 90%;
  border-radius: 0px;
  border: 1px 1px 0 1px solid black;
  margin: 0;
  width: 90%;
  max-width: 90%;
  height: 100px;
  max-height: 100px;
}

.annotation-instructions {
  margin-top: 0;
  width: 90%;
  max-width: 90%;
  height: 30px;
  max-height: 30px;
  border: 1px solid black;
  border-top: 1px dashed black;
  padding: 5px;
}

.annotation-style {
  margin-top: 30px;
  width: 90%;
}

body .modal {
  margin-top: 100px;
  z-index: 12000;
}

.annotation-form {
}

.modal-header{
  padding-bottom: 0;
}



.content-container {
  border: 1px solid black;
}