$logo-color: floralwhite;
$navbar-color: darkslateblue;

//$grid-float-breakpoint:     1000px !important;
//$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !important;

/* title */
.navbar-default .navbar-brand {
  //  color: $logo-color;
//    margin-left: 10px;
//    font-size: 150%;
    .brand {
      width: 180px;
      margin-top: 3%;
    }
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: $logo-color;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #999;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: white;
}

.dropdown {
  margin-left: 15px;
}

.signed-in-text {
  margin-left: 20px;
}

.navbar {
  background-color: $navbar-color !important
}

.links {
  position: relative;
  margin-right: 2.5% !important;
  li {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.navbar {
  z-index: 10000;
}
