// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body {
  margin-top: 60px;
  background-color: #FEFEFA;
  color: darkslateblue;
  font-family: Verdana, Geneva, sans-serif;
}

.links {
  position: fixed;
  border-radius: 10px;
  border-right: 2px solid #061F70;
  border-left: 2px solid #061F70;
  left: 30px;
  top: 100px;
  height: 500px;
  width: 300px;
  z-index: 0;
}

.recipe-container {
  position: absolute;
  height: 102%;
  margin-left: 265px;
  width: 600px;
  border-radius: 10px;
}

.overall-container {
  position: relative;
}

.buttons {
  width: 100px;
  height: 300px;
  position: fixed;
  right: 200px;
  top: 100px;
}

.picture-standin {
  width: 150px;
  height: 150px;
  background: yellow;
}

.recipe-section {
  margin: 40px;
}

.recipe-button {
  text-align: center;
  margin: auto 0;
  display: block;
  outline: none;
  border: none;
  background-color: #FEFEFA;
  border-left: 2px solid #061F70;
  border-right: 2px solid #061F70;
  border-radius: 10px;
  margin-top: 30px;
  width: 100px;
  height: 38px;
  text: black;
}

.img-rounded {
  background-color: grey;
  width: 140px;
  height: 140px;
}

.items-section {
  border-left: 2px solid #061F70;
  border-right: 2px solid #061F70;
  border-radius: 10px;
  font-size: medium;
  line-height: 150%;
  // background-color: #FFB000;
  // color: white;
}

.recipe-name {
  border-bottom: 4px solid darkslateblue;
}

.ingredient {
  margin: 10px;
}

.step {
  margin: 10px;
}

/*.elements-container {
  width: 600px;
  min-height: 100px;
  background-color: lightgrey;
  border: 2px black solid;
  border-radius: 10px;
  margin: 30px auto;
  position: relative;
}*/

.elements-header {
  padding: 20px 0 10px 20px;
  font-size: 20px;
}

.editable-closed {
  &:hover {
    border: 2px #FFB000 solid;
    border-radius: 5px;
  }
}

.can-edit-page-contain er {
  border: 5px dashed red;
}

.annotated {
  color: orange;
  &:link {
   text-decoration: none;
  }
  &:hover {
    background-color: orange;
    color: #061F70;
  }

}

.annotation-pending {
  background-color: orange;
  color: #061F70;
}
/*
.recipe-container {
  width: 700px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}*/

/*.time-info {
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: small;
}*/

.notes {
  font-size: small;
}



.navbar {
  z-index: 10000;
}

