// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body {
  margin-top: 60px;
  background-color: #FEFEFA;
  color: darkslateblue;
  font-family: Verdana, Geneva, sans-serif;
}

.links {
  position: fixed;
  border-radius: 10px;
  border-right: 2px solid #061F70;
  border-left: 2px solid #061F70;
  left: 30px;
  top: 100px;
  height: 500px;
  width: 250px;
  z-index: 0;
}

.overall-container {
  position: absolute;
  left: 350px;
  width: 700px;
}

.buttons {
  width: 100px;
  height: 300px;
  position: fixed;
  left: 1150px;
  top: 100px;
}

.note-show {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 400px;
  max-height: 240px;
}

.recipe-section {
  margin: 40px;
  position: relative;
}

.img-rounded {
  margin-top: 20px;
  width: 180px;
  height: 180px;
  background-color: lightgrey;
}


.recipe-button {
  text-align: center;
  margin: auto 0;
  display: block;
  outline: none;
  border: none;
  background-color: #FEFEFA;
  border-left: 2px solid #061F70;
  border-right: 2px solid #061F70;
  border-radius: 10px;
  margin-top: 30px;
  width: 100px;
  height: 38px;
  text: black;
}

.items-section {
  margin-top: 20px;
  border-left: 2px solid #061F70;
  border-right: 2px solid #061F70;
  border-radius: 10px;
  font-size: medium;
  line-height: 150%;
}

.recipe-name {
  border-bottom: 4px solid darkslateblue;
}

.ingredient {
  margin: 10px;
}

.step {
  margin: 10px;
}

#ingredients-list {
  margin-bottom: 20px;
}

#steps-list {
  margin-bottom: 20px;
}

.ingredients-section {
  width: 500px;
}

.elements-header {
  padding: 20px 0 10px 20px;
  font-size: 20px;
}

ul li {
  margin-left: 10px;
  padding-left: 10px;
  position: relative;

}

.editable-closed {
  &:hover {
    border: 2px #FFB000 solid;
    border-radius: 5px;
  }
}

.can-edit-page-contain er {
  border: 5px dashed red;
}

.annotated {
  color: orange;
  &:link {
   text-decoration: none;
  }
  &:hover {
    background-color: orange;
    color: #061F70;
    text-decoration: none;
  }

}

.annotation-pending {
  background-color: orange;
  color: #061F70;
  &:hover {
    text-decoration: none;
    color: #061F70;
  }
}

.ingredient-checkbox {
  display: inline;
  position: absolute;
  right: 20px;
}

.notes {
  font-size: small;
}


.navbar {
  z-index: 10000;
}


// NEW RECIPES

.note-new textarea {
  width: 550px;
  max-width: 550px;
  height: 125px;
  border-radius: 5px;
}

.info-new {
  width: 300px;
  margin-right: 0;
  margin-left: auto;
}

input {
  margin: 10px;
  width: 80%;
}

textarea {
  width: 80%;
  height: 70px;
  margin: 10px;
  border-radius: 10px;
}