.num-anns {
  float:right;
}

.badge-warning {
  background-color: #f89406;
}

.badge-warning:hover {
  background-color: #c67605;
}

.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}

.recipe-list {
  list-style: none;
}

.recipe-index-name {
  font-size: 120% !important;
}