.signin {
  margin-top: 30px;
}


.button-row {
  margin-top: 70px;
}

body {
  background: url("/images/chef_genius.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.landing-page {
  background-color: white;
  min-height: 500px;
  border-radius: 40px !important;
}

.signin {
  display: none;
  margin-top: 50px;
}

.landing-button {
  width: 80%;
  font-size: 20px;
  position: relative;
  background-color: white !important;
}

html, body {
  height: 100%;
}