.brand {
  max-width: 200%;
  max-height: 250%;
  position: relative;
  bottom: 20px;
}

body {
  height: 90%;
}

.cookie-font {
  font: 400 80px/0.8 'Cookie', Helvetica, sans-serif;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}

.small-cookie-font {
  font: 400 40px/0.8 'Cookie', Helvetica, sans-serif;
}

.topmost {
  margin-top: 40px;
}