<div class='time-info'>
  <div>Prep Time: <input type='text' name='recipes[info_attributes][prep_time]'></div>
  <div>Cook Time: <input type='text' name='recipes[info_attributes][cook_time]'></div>
</div>
