
<label> Recipe Name:
  <input class='recipe-title' type='text' name='recipes[name]' value='<%= recipe.get('name') %>'>
</label>
<br>
<label> Prep Time:
  <input type='text' name='recipes[prep_time]' value='<%= recipe.get('prep_time') %>'>
</label>

<label> Cook Time:
  <input type='text' name='recipes[cook_time]' value='<%= recipe.get('prep_time') %>'>
</label>
<br>
<label> Notes
  <textarea name='recipes[notes]'><%= recipe.get('notes') %></textarea>
</label>
